body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 4px;
    padding-top: 12px;
    width: 400px;

    border-radius: 5px;
    background-color: rgb(68, 68, 68);

}

.screen {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 93%;
    height: 64px;
    padding: 4px;

    font-size: 36px;
    font-weight: bold;
    background-color: rgb(214, 214, 214);
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 8px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 76px;
    height: 36px;
    margin: 2px;
    padding: 8px;

    border-radius: 2px;
    background-color: rgb(102, 138, 180);
    user-select: none;
}

.button:hover {
    cursor: pointer;
}

#zero {
    flex-grow: 2;
}